/* --- Variables CSS --- */
:root {
    --blue-btn: rgb( 213, 249, 255 );
    --blue-btn-hover: rgb(162, 241, 255);
    --blue-btn-active: rgb(86, 230, 255);
    --blue-btn-focus: rgb(0, 217, 255);
}

/* --- Styles généraux --- */
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

button {
    background-color: var( --blue-btn );
}

button:hover {
    background-color: var( --blue-btn-hover );
}

button:focus {
    background-color: var( --blue-btn-focus );
}

button:active {
    background-color: var( --blue-btn-active );
}

button, input, textarea {
    border: 1px solid #747474;
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.error {
    background-color: rgba(255, 0, 0, 0.4);
    border: 2px solid red;
}


.form * {
    /* 
    TODO: 
    égaliser les margins entre div du formulaire
    */
    margin: 5px;
}

#map {
    border: 2px solid #000 ;
    flex-grow: 1;
    margin-right: 10px;
    min-height: 100vh;
    padding: 0;
}